* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body input {
  -webkit-appearance: none;
}
body a,
body img {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  height: 100%;
  color: #7e7e7e;
  background-color: #f6f7f9;
  font-size: 14px;
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 10px auto;
}
.top-container {
  background-color: #61abd8;
}
.nav {
  height: 45px;
  display: flex;
  justify-content: space-between;
}
.nav span {
  background-color: transparent;
  text-align: center;
  line-height: 45px;
}
.nav span:nth-child(1) {
  width: 10%;
  border: 1px solid red;
}
.nav span:nth-child(2) {
  width: 80%;
  border: 1px solid greenyellow;
}
.nav span:nth-child(3) {
  width: 10%;
  border: 1px solid red;
}
.banner {
  height: 200px;
  width: 100%;
  padding-top: 20px;
}
.banner .img {
  background-color: gray;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}
.main {
  width: 100%;
  background-color: white;
}
.main .list-item {
  width: 80%;
  margin: 0 auto;
}
.main .list-item ul {
  margin: 10px 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .list-item ul li {
  margin: 10px 10px;
  width: 25%;
}
.main .list-item ul li a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: #7e7e7e;
}
.main .list-item ul li a img {
  width: 100%;
}
.message {
  width: 100%;
}
.message div {
  margin: 10px 0;
  text-align: center;
  background-color: white;
  height: 65px;
}
footer {
  display: flex;
  background-color: white;
}
footer div:nth-child(1) {
  border-right: 1px solid #9b9b9b;
}
footer div {
  width: 50%;
  height: 3.125rem;
  text-align: center;
  line-height: 3.75rem;
}
